body {
    background-color: #D5E1EF;
    font-family: 'Outfit', sans-serif;
}

.card {
    display: flex;
    width: 300px;
    margin: auto auto;
    padding: 25px;
    background-color: white;
    border-radius: 14px;
}

img {
    display: flex;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 14px;
}

.text h3 {
    text-align: center;
    font-size: 24px;
}

.text p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #909294;
}